bidict
certifi
chardet
click
colorama
dnspython
eventlet
faunadb
Flask
Flask-SocketIO
future
greenlet
gunicorn
h2
hpack
hyper
hyperframe
idna
importlib-metadata
iso8601
itsdangerous
Jinja2
MarkupSafe
python-dotenv
python-engineio
python-socketio
pytz
requests
six
typing-extensions
urllib3
Werkzeug
zipp
